src/flows/Contact_ListView_Subscribe_Members.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment_Add_Member</name>
        <label>Assignment Add Member</label>
        <locationX>688</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>collectionInputOutputMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Create_Member</name>
        <label>Assignment Create Member</label>
        <locationX>687</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>member.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>member.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputOutputSubscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Add_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Member</name>
        <label>Existing Member</label>
        <locationX>398</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>Assignment_Create_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Subscriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact ListView Subscribe Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact ListView Subscribe Members</label>
    <loops>
        <name>Iterate_Ids</name>
        <label>Iterate Ids</label>
        <locationX>371</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>selectedId</assignNextValueToReference>
        <collectionReference>collectionInputContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_Subscriptions</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Existing_Subscriptions</name>
        <label>Existing Subscriptions</label>
        <locationX>265</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Member</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Iterate_Ids</startElementReference>
    <status>Active</status>
    <variables>
        <name>collectionInputContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionInputOutputMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>GroupRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01236000000xDnBAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>selectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputOutputSubscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
