src/flows/Contact_ListView_Subscribe.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Id_to_Ids</name>
        <label>Add Id to Ids</label>
        <locationX>178</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Subscriptions_Level2</name>
        <label>Check Subscriptions Level2</label>
        <locationX>965</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Create_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscriptions_Level2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedCampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_Parent_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subscriptions_Level3</name>
        <label>Check Subscriptions Level3</label>
        <locationX>966</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>Create_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscriptions_Level3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedCampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_Parent_Child_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Id</name>
        <label>Valid Id</label>
        <locationX>171</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Screen_Select_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Id_to_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow process to manage subscriptions</description>
    <dynamicChoiceSets>
        <name>ParentChildChildPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Parent_Child</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParentChildPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Parent</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParentPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Contact ListView Subscribe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Individual Subscriptions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Members</name>
        <label>Create Members</label>
        <locationX>1382</locationX>
        <locationY>689</locationY>
        <connector>
            <targetReference>Screen_Finished</targetReference>
        </connector>
        <inputReference>collectionMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Subscriptions_Level2</name>
        <label>Lookup Subscriptions Level2</label>
        <locationX>973</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Subscriptions_Level2</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Parent</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varSelectedCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Subscriptions_Level3</name>
        <label>Lookup Subscriptions Level3</label>
        <locationX>972</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Subscriptions_Level3</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Parent_Child</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varSelectedCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Screen_Finished</name>
        <label>Subscription Management</label>
        <locationX>1528</locationX>
        <locationY>694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MembersSize</name>
            <fieldText>&lt;p&gt;Created {!varSubscriptions} Subscription(s)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Parent</name>
        <label>Subscription Management</label>
        <locationX>434</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subscriptions_Level1</targetReference>
        </connector>
        <fields>
            <name>Selected_Parent</name>
            <choiceReferences>ParentPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Parent_Child</name>
        <label>Subscription Management (Level 2)</label>
        <locationX>429</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subscriptions_Level2</targetReference>
        </connector>
        <fields>
            <name>Selected_Parent_Child</name>
            <choiceReferences>ParentChildPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Subscription (Level 2)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select a subscription group to continue.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Parent_Child_Child</name>
        <label>Subscription Management (Level 3)</label>
        <locationX>434</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subscriptions_Level3</targetReference>
        </connector>
        <fields>
            <name>Selected_Parent_Child_Child</name>
            <choiceReferences>ParentChildChildPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Subscription (Level 3)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select a subscription group to continue.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Valid_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Subscriptions_Level1</name>
        <label>Get Subscriptions</label>
        <locationX>706</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Lookup_Subscriptions_Level2</targetReference>
        </connector>
        <flowName>Contact_ListView_Subscribe_Members</flowName>
        <inputAssignments>
            <name>collectionInputContactIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>collectionInputOutputMembers</name>
            <value>
                <elementReference>collectionMembers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCampaignId</name>
            <value>
                <elementReference>Selected_Parent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOutputSubscriptions</name>
            <value>
                <elementReference>varSubscriptions</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>collectionMembers</assignToReference>
            <name>collectionInputOutputMembers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubscriptions</assignToReference>
            <name>varInputOutputSubscriptions</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Subscriptions_Level2</name>
        <label>Get Subscriptions</label>
        <locationX>705</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Lookup_Subscriptions_Level3</targetReference>
        </connector>
        <flowName>Contact_ListView_Subscribe_Members</flowName>
        <inputAssignments>
            <name>collectionInputContactIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>collectionInputOutputMembers</name>
            <value>
                <elementReference>collectionMembers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCampaignId</name>
            <value>
                <elementReference>Selected_Parent_Child</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOutputSubscriptions</name>
            <value>
                <elementReference>varSubscriptions</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>collectionMembers</assignToReference>
            <name>collectionInputOutputMembers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubscriptions</assignToReference>
            <name>varInputOutputSubscriptions</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Subscriptions_Level3</name>
        <label>Get Subscriptions</label>
        <locationX>722</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>Create_Members</targetReference>
        </connector>
        <flowName>Contact_ListView_Subscribe_Members</flowName>
        <inputAssignments>
            <name>collectionInputContactIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>collectionInputOutputMembers</name>
            <value>
                <elementReference>collectionMembers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCampaignId</name>
            <value>
                <elementReference>Selected_Parent_Child_Child</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOutputSubscriptions</name>
            <value>
                <elementReference>varSubscriptions</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>collectionMembers</assignToReference>
            <name>collectionInputOutputMembers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubscriptions</assignToReference>
            <name>varInputOutputSubscriptions</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>collectionMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCampaignRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01236000000xDnBAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
